html, body, * {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #25316D;
    color: white;
}

/* Structure */
.containers {
    margin-top: 4rem;
    margin-left: 4rem;
}

.container {
    margin-bottom: 1rem;
    line-height: 2rem;
}

.header {
    text-align: center;
    font-size: 3.5rem;
    margin: 2.5rem;
}

.footer {
    text-align: center;
    margin: 1.5rem;
    font-size: 0.8rem;
}

/* Content */
.title {
    font-size: 1.55rem;
    /* color: #f05d26; */
    color: #FFB200;
}

.sub-title {
    font-size: 1.3rem;
    margin-left: 1rem;
    color: deepskyblue;
}

.contents {
    margin: 0.2rem;
    margin-left: 2.5rem;
    font-size: 1rem;
}

.sitemap_child {
    margin-left: 1.4rem;
}

.activity_contents {
    margin-top: -0.5rem;
}

/* Tag */
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* ID */
#sitemap {
    margin: 0.2rem;
    margin-left: 0.9rem;
    font-size: 1rem;
}

#title_activity {
    margin-bottom: 0.5rem;
}

/* Mobile */
@media screen and (max-width: 769px) {
    .containers {
        margin-top: 4rem;
        margin-left: 0.5rem;
        line-height: 2rem;
    }
    .activity_contents {
        margin-top: 0.5rem;
    }
}