html, body, * {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: dimgrey;
}

/* Structure */
.containers {
    display: block;
    margin-left: 2rem;
}

.container {
    margin: 1rem;
}

.header {
    text-align: center;
    font-size: 3rem;
    margin: 2rem;
}

/* Content */
.title {
    font-size: 1.5rem;
    /* color: #f05d26; */
    color: cornflowerblue;
}

.contents {
    margin: 0.2rem;
    margin-left: 0.9rem;
    font-size: 1rem;
}

.sitemap_child {
    margin-left: 1.4rem;
}

/* Tag */
a {
    text-decoration: none;
    color: lightcyan;
}

a:hover {
    text-decoration: underline;
}